// Font
$primary-font: "Open Sans";
// For media queries
$mobile-max-width: 899px;
$desktop-min-width: 900px;
// Primary & secondary color of the website
$primary-color: #364860;
$secondary-color: #bbb;
$tertiary-color: #2c394c;
// Primary & secondary color for the text in the site
$text-primary-color: #001122;
$text-secondary-color: #bbb;